body{
    margin: 0px;
}
main{
    margin-left: 15px;
    margin-right: 15px;
}
h1{
    text-align: left;
}
.navbar ul{
list-style-type: none;
background-color: rgb(51, 51, 51);
padding: 0px;
margin: 0px;
overflow: hidden;
}
.navbar a{
    color: bisque;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}
html{
    background-color: rgb(58, 58, 58);
}
h1{
    text-align: center;
}
main{
    color: bisque;
    text-shadow: 2px 2px 2px black;
    text-align: right;
}
.navbar .top-right-button {
    position: absolute; /* Independent positioning */
    top: 8px;
    right: 20px;
    background-color: #252423;
    color: bisque;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
   
}
p{
    font-size: large;
}
h4{
    font-size: large;
}
h5{
    font-size: large;
}
h2{
    text-align: center; 
}
main a{
    font-size: large;
    text-decoration: none;

}
main a:hover{
    background-color: rgba(77, 77, 77, 0.993);
}
h6{
    position: absolute;
    text-align: left; 
}